@import 'variables';
@import '../font/style.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul,
ul li {
    list-style: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: none!important;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

button {
    outline: none!important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: $fontPrimary!important;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//header
header {
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #262626;
    width: 100%;
    padding: 0;
    background: #0c0c0c;
    @media screen and (max-width: 991px) {
        margin-bottom: 40px;
    }
    #redes-sociais {
        li {
            display: none;
            &:last-child {
                display: block!important;
            }
        }
    }
}

.navbar-brand {
    z-index: 999;
    position: relative;
    display: block!important;
    margin: 0 auto;
    max-height: 53px;
    padding: 0!important;
    img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        max-height: 53px;
        max-width: 360px;
        object-fit: contain;
        @media (min-width: 992px) and (max-width: 1200px) {
            max-width: 265px;
        }
    }
}

.navbar-toggler {
    right: 0;
    position: absolute;
    top: 10px;
    z-index: 999;
    padding: 0!important;
    font-size: 35px!important;
    border-radius: 0!important;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 991px) {
    .navbar {
        .navbar-collapse {
            height: 100%;
            background: #0C0C0C;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 99;
            padding: 55px 0 90px;
            h2.title-simple {
                text-align: left;
                padding: 20px 25px;
            }
        }
    }
}

//menu
#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    @media screen and (max-width: 991px) {
        display: block;
    }
    li {
        position: relative;
        padding: 27px 2em 26px;
        @media (min-width: 992px) and (max-width: 1200px) {
            padding: 27px 1em 26px;
        }
        &:before {
            position: absolute;
            left: 20px;
            transform: translateY(-50%);
            top: 50%;
            @media (min-width: 992px) and (max-width: 1200px) {
                left: -6px;
            }
        }
        a {
            font-family: $fontPrimary!important;
            font-size: 18px;
            line-height: 25px;
            font-weight: $regular;
            color: $gray;
            padding-left: 10px;
            @media (min-width: 992px) and (max-width: 1200px) {
                padding-left: 3px;
            }
        }
        @media screen and (max-width: 991px) {
            padding: 14px 65px;
            border-top: 1px solid #262626;
            border-bottom: 1px solid #262626;
            &:before {
                position: absolute;
                left: 25px;
                transform: translateY(-50%);
                top: 50%;
            }
        }
        &:hover {
            background: #262626;
        }
    }
}

@media screen and (max-width: 991px) {
    .icon-hub {
        &:before {
            left: 18px!important;
            top: 29%!important;
        }
    }
    .section-first {
        .btn-primary {
            margin-top: 0;
        }
    }
}

.live-icon-w {
    width: 10px!important;
    height: 10px!important;
    position: relative;
    &:before {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        left: -20px;
        top: 50%;
        transform: translateY(-50%)!important;
        background: $red;
        width: 10px!important;
        height: 10px!important;
        border-radius: 5px;
    }
}

.icon-live {
    &:before {
        content: '';
        background-repeat: no-repeat;
        background-position: top center;
        width: 20px;
        height: 20px;
        background-size: contain;
        left: 28px!important;
        transform: translate(-50%, -50%)!important;
        background: $red;
        width: 10px!important;
        height: 10px!important;
        border-radius: 5px;
        @media (min-width: 992px) and (max-width: 1200px) {
            left: 5px!important;
        }
        @media screen and (max-width: 991px) {
            left: 33px!important;
        }
    }
}

.icon-hub {
    &:before {
        content: '';
        background-repeat: no-repeat;
        background-position: top center;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-image: url('../images/icon-hub.svg');
        width: 31px!important;
        height: 22px!important;
        -webkit-animation: poun 1.3s linear infinite;
        -moz-animation: poun 1.3s linear infinite;
        -o-animation: poun 1.3s linear infinite;
        animation: poun 1.3s linear infinite;
    }
}

//redes sociais
.redes-sociais-footer {
    @media screen and (max-width: 991px) {
        margin-left: 0;
        height: 40px;
        margin: 0 auto 0;
        display: table;
    }
    h2.title-simple {
        display: none!important;
    }
    #redes-sociais {
        &:before {
            display: none;
        }
        @media screen and (max-width: 991px) {
            margin-left: 0;
            height: 40px;
        }
        li {
            &:last-child {
                display: none;
            }
            a {
                font-family: $fontPrimary!important;
                i {
                    font-family: 'icomoon' !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    color: $black1;
                    position: relative;
                    @media screen and (max-width: 991px) {
                        color: $white;
                    }
                    &:before {
                        position: absolute;
                        left: 0;
                        transform: translateY(-50%);
                        top: 50%;
                        color: $black1;
                        @media screen and (max-width: 991px) {
                            color: $white;
                        }
                    }
                }
                &:hover {
                    color: $white!important;
                    i {
                        color: $white!important;
                        @media screen and (max-width: 991px) {
                            color: $white!important;
                            opacity: 0.7;
                        }
                        &:before {
                            color: $white!important;
                        }
                    }
                }
            }
        }
    }
}

#redes-sociais {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 0;
    position: relative;
    @media (min-width: 992px) and (max-width: 1200px) {
        margin-left: 4px;
    }
    &:before {
        content: '';
        height: 100%;
        left: -12px;
        width: 1px;
        border-left: 1px solid #262626;
        position: absolute;
        top: -18px;
        min-height: 79px;
        @media (min-width: 992px) and (max-width: 1200px) {
            left: -5px;
        }
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        margin-left: 20px;
    }
    li {
        padding: 0 7px;
        &:last-child {
            padding-right: 0;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
        a {
            font-family: $fontPrimary!important;
            position: relative;
            i {
                width: 22px;
                display: block;
                font-family: 'icomoon' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $gray;
                position: relative;
                @media screen and (max-width: 991px) {
                    width: 30px;
                    display: block;
                }
                &:before {
                    position: absolute;
                    left: 0;
                    transform: translateY(-50%);
                    top: 50%;
                    @media screen and (max-width: 991px) {
                        font-size: 25px;
                    }
                }
            }
            &:hover {
                i {
                    color: $blue;
                    &:before {
                        color: $blue;
                    }
                }
            }
            &.button {
                border-radius: 4px;
                font-size: 18px;
                line-height: 23px;
                font-weight: $semibold;
                color: $white;
                background-color: $blue;
                margin-left: 10px;
                padding: 12px 16px 12px 60px;
                display: block;
                i {
                    padding: 0 20px;
                    position: absolute;
                    left: 16px;
                    top: 14px;
                    &:before {
                        content: '';
                        background-repeat: no-repeat;
                        background-position: top center;
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        position: absolute;
                        transform: translateY(-50%);
                        -webkit-animation: poun 1.3s linear infinite;
                        -moz-animation: poun 1.3s linear infinite;
                        -o-animation: poun 1.3s linear infinite;
                        animation: poun 1.3s linear infinite;
                    }
                }
                &:hover {
                    background-color: $blue1;
                }
            }
        }
    }
}

//footer
footer {
    @media screen and (max-width: 991px) {
        .button {
            margin: 0 auto 40px;
            display: table;
        }
    }
    .sub-footer {
        border: 1px solid $gray3;
        padding: 19px 0;
        background-color: $blue;
    }
    .nzn_footer {
        @media screen and (max-width: 991px) {
            margin: 0 auto;
        }
        .logo {
            width: 100%;
            padding: 17px 0 13px;
            display: block;
            @media screen and (max-width: 991px) {
                img {
                    margin: 20px auto;
                    display: table
                }
            }
        }
        ul.verticais_nzn {
            width: 100%;
            border-top: 1px solid $gray;
            width: 100%;
            padding: 20px 0 17px;
            display: flex;
            gap: 23px;
            @media screen and (max-width: 991px) {
                display: none;
            }
            li {
                a {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: $regular;
                    color: $white;
                }
            }
        }
    }
}

//hurrytimer
.hurrytimer-campaign {
    margin-top: 40px;
    @media screen and (max-width: 991px) {
        margin: 30px 0 20px;
    }
    .hurrytimer-timer-block {
        margin: 0 20px;
        .hurrytimer-timer-digit {
            font-size: 38px;
            line-height: 49px;
            font-weight: 600!important;
            font-family: $fontPrimary!important;
        }
    }
    .hurrytimer-timer-sep {
        color: transparent!important;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: 4px;
            height: 100%;
            width: 1px;
            min-height: 20px;
            background-color: #0A9EFF;
        }
    }
}

//first section
.section-first {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 800px;
    padding-top: 0!important;
    padding-bottom: 0;
    .h-100-c {
        height: calc(100vh - 240px);
    }
    @media screen and (max-width: 991px) {
        height: 100%;
        padding-top: 15px;
        .h-100-c {
            height: 100%;
        }
    }
    .categories-dflex {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap: 8px;
        height: 100%;
        @media (min-width: 768px) and (max-width: 991px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
            display: block;
        }
        a {
            flex: 1 1 30%;
            /*grow | shrink | basis */
            padding: 16px 0 0;
            flex-flow: row wrap;
            align-items: flex-end;
            border: 2px solid transparent;
            border-radius: 4px;
            img {
                margin: 0 auto;
                max-height: 100px;
                object-fit: contain;
            }
            span {
                font-size: 18px;
                line-height: 23px;
                color: $black1;
                font-weight: $semibold;
                text-align: center;
                width: 100%;
                padding: 16px;
            }
            &:hover {
                border: 2px solid $blue;
                span {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }
    .btn-primary {
        margin-top: 3.3rem;
    }
}

//text
.title-simple {
    font-size: 18px;
    line-height: 25px;
    color: $white;
    font-weight: $regular;
    @media screen and (max-width: 991px) {
        text-align: center;
    }
}

.title-big {
    font-size: 48px;
    line-height: 52px;
    font-weight: $semibold;
    color: #ffffff;
    font-family: $fontPrimary;
    margin-bottom: 15px;
    @media screen and (max-width: 991px) {
        text-align: center;
    }
}

.title-mediun {
    font-size: 28px;
    line-height: 42px;
    font-weight: $regular;
    color: #ffffff;
    font-family: $fontPrimary;
    @media screen and (max-width: 991px) {
        text-align: center;
    }
}

.card-news {
    color: $white !important;
}

.title-news1,
.title-news2,
.title-news3 {
    color: $white !important;
    font-weight: $semibold;
}

.title-news1 {
    margin-top: 19px;
    font-size: 32px;
    line-height: 38px;
}

.title-news2 {
    margin-top: 16px;
    font-size: 22px;
    line-height: 28px;
}

.title-news3 {
    margin-top: 14px;
    font-size: 28px;
    line-height: 35px;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: $regular;
    font-family: $fontPrimary;
    color: $gray;
    @media screen and (max-width: 991px) {
        text-align: center;
    }
}

//botoes
.center-btn {
    display: table;
    margin: 0 auto;
}

.btn-primary {
    font-size: 22px;
    line-height: 46px;
    color: $white;
    font-weight: $regular;
    background-color: $blue!important;
    padding: 12px 60px;
    box-shadow: 0px 1px 2px #0000001A;
    border-radius: 4px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid $blue!important;
    min-width: 310px;
    width: auto;
    display: block;
    text-align: center;
    &:hover {
        background: $blue1!important;
        box-shadow: 0px 1px 2px #0000001A;
        border: 1px solid $blue!important;
    }
    @media screen and (max-width: 991px) {
        display: table;
        margin: 10px auto 20px;
    }
}

.btn-secondary {
    font-size: 18px;
    line-height: 46px;
    color: $white;
    font-weight: $regular;
    background-color: transparent!important;
    padding: 0px 60px;
    box-shadow: 0px 1px 2px #0000001A;
    border-radius: 4px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid $blue!important;
    max-width: 368px;
    width: 100%;
    display: block;
    text-align: center;
    &:hover {
        background: $blue1!important;
        box-shadow: 0px 1px 2px #0000001A;
        border: 1px solid $blue;
    }
    @media screen and (max-width: 991px) {
        display: table;
        margin: 10px auto 20px;
    }
}

.btn-mega {
    font-size: 18px;
    line-height: 46px;
    color: $white;
    font-weight: $semibold;
    background-color: $red1!important;
    padding: 12px 60px;
    border-radius: 4px;
    border: 1px solid $red1!important;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 100%;
    @media screen and (max-width: 991px) {
        display: table;
        margin: 20px auto;
    }
}

//arrowdown
.arrow {
    width: 26px;
    height: 28px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    -moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-animation: boun 1.3s linear infinite;
    -moz-animation: boun 1.3s linear infinite;
    -o-animation: boun 1.3s linear infinite;
    animation: boun 1.3s linear infinite;
    //:border 1px solid gold
    z-index: 3;
    @media screen and (max-width: 991px) {
        bottom: 0;
    }
    ul {
        list-style: none;
        li {
            width: 18px;
            height: 4px;
            background: $blue;
            &:nth-child(1) {
                left: 0;
                top: 0;
                position: absolute;
                transform: rotate(45deg);
                border-radius: 5px 0 0 5px;
            }
            &:nth-child(2) {
                left: 10px;
                position: absolute;
                border-radius: 5px 5px 0;
                top: 0;
                transform: rotate(-45deg);
            }
        }
        &:hover {
            opacity: 1;
        }
    }
}

@keyframes boun {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(10px);
        opacity: 0.5;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        transform: translateY(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes poun {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    25% {
        transform: translateZ(10px);
        opacity: 0.5;
    }
    50% {
        transform: translateZ(0);
        opacity: 1;
    }
    75% {
        transform: translateZ(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

//carousel clientes
.motion-row {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 11;
    bottom: 0;
    box-shadow: 0px 3px 6px #00000029;
    overflow: hidden;
    .animation {
        width: auto;
        display: flex;
        transform: translate3d(0, 0, 0);
        -webkit-animation: marquee 30s linear 1s infinite running;
        -moz-animation: marquee 30s linear 1s infinite running;
        -o-animation: marquee 30s linear 1s infinite running;
        animation: marquee 30s linear 1s infinite running;
        .itens {
            display: flex;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            width: auto;
            padding: 0 35px;
            img {
                max-width: 120px;
                width: 120px;
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

section {
    padding-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px solid #262626;
    position: relative;
    @media screen and (max-width: 991px) {
        padding-top: 39px;
        padding-bottom: 39px;
    }
}

.clientes-feed {
    background: #0C0C0C;
    width: 100%;
    padding: 0 0;
    position: absolute;
    bottom: -45px;
    margin: 30px 0 30px;
}

img {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .7;
    }
}

#mc_embed_signup {
    background: transparent!important;
    width: 100%;
}

#mc_embed_signup .mc-field-group {
    padding-bottom: 0!important;
}

#mc_embed_signup .mc-field-group label,
.asterisk {
    display: none!important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    position: absolute;
    top: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0 15px !important;
    overflow: hidden;
    width: 100%!important;
    margin: 0!important;
    clear: both;
    position: absolute!important;
    background: #141414!important;
    left: 0;
}

#mc_embed_signup .mc-field-group input {
    outline: 0!important;
    max-width: 240px;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    background: #0c0c0c 0 0 no-repeat padding-box;
    border: 1px solid #262626;
    border-radius: 4px;
    padding: 11px 16px!important;
}

#mc_embed_signup .button {
    font-size: 18px!important;
    line-height: 25px!important;
    color: #fff;
    font-weight: 400;
    background-color: #0a9eff!important;
    box-shadow: 0 1px 2px #0000001A;
    border-radius: 4px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid #0a9eff!important;
    max-width: 152px!important;
    height: 49px !important;
}

#mc_embed_signup_scroll {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

#mc_embed_signup form {
    padding: 0!important;
}

#mc_embed_signup .mc-field-group {
    width: 100%!important;
    min-width: 240px;
}

//melhores ofertas
#vejatodasasofertas {
    background-color: #262626;
    background-image: url('../images/Mask-Group-189.svg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 0;
    padding-bottom: 0;
    @media screen and (max-width: 991px) {
        padding-top: 0;
        padding-bottom: 0;
    }
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
        @media screen and (max-width: 991px) {
            padding-top: 40px;
            padding-bottom: 20px;
        }
    }
    h3 {
        line-height: 30px;
        font-size: 24px;
        color: $white;
        font-weight: $regular;
        font-family: $fontPrimary;
        margin-bottom: 27px;
        display: block;
        @media screen and (max-width: 991px) {
            padding: 40px 0 0;
            display: block;
            text-align: center;
        }
        a {
            line-height: 25px;
            font-size: 14px;
            color: $blue;
            margin-left: 8px;
        }
    }
    p {
        margin: 26px 0;
        @media screen and (max-width: 1200px) {
            margin: 6px 0;
        }
    }
    h4 {
        line-height: 12px;
        font-size: 15px;
        color: #0C0C0C;
        font-weight: $semibold;
        font-family: $fontPrimary;
        text-transform: uppercase;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        i {
            background: $black1;
            height: 26px;
            width: 26px;
            border-radius: 99px;
            position: absolute;
            transform: translateY( -50%);
            top: 50%;
            left: 0;
            display: inline-block;
            &:before {
                position: absolute;
                transform: translateY( -50%);
                top: 50%;
                left: 7px;
                color: $blue;
                font-size: 12px;
            }
        }
    }
}

//carousel
.base-carousel {
    margin: 65px auto;
    width: 100%;
    max-width: 560px;
    height: 316px;
    position: relative;
    perspective: 1000px;
    .carousel-videos {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        -moz-transition: transform 1s;
        -webkit-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        .itemCard {
            transform-style: preserve-3d;
            .item {
                display: block;
                position: absolute;
                width: 100%;
                max-width: 560px;
                height: 316px;
                line-height: 316px;
                font-size: 5em;
                text-align: center;
                color: #FFF;
                opacity: 0.95;
                border-radius: 10px;
                -moz-transition: transform 1s;
                -webkit-transition: transform 1s;
                -o-transition: transform 1s;
                transition: transform 1s;
                @media screen and (max-width: 991px) {
                    width: 100%;
                    max-width: 100%;
                    height: 155px;
                    line-height: 155px;
                    transform: rotateY(0deg) translateX(-50%)!important;
                    left: 50%;
                }
            }
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            max-width: 100%;
        }
    }
}

.itemCard0 {
    transform: rotateY(0deg) translateZ(150px);
    @media screen and (max-width: 991px) {
        transform: none!important;
        left: 50%;
    }
}

.itemCard1 {
    transform: rotateY(60deg) translateZ(150px) rotateY(-60deg);
    @media screen and (max-width: 991px) {
        transform: none!important;
        left: 50%;
    }
}

.itemCard2 {
    transform: rotateY(120deg) translateZ(150px) rotateY(-120deg);
    @media screen and (max-width: 991px) {
        transform: none!important;
        left: 50%;
    }
}

.itemCard3 {
    transform: rotateY(180deg) translateZ(150px) rotateY(-180deg);
    @media screen and (max-width: 991px) {
        transform: none!important;
        left: 50%;
    }
}

.itemCard4 {
    transform: rotateY(240deg) translateZ(150px) rotateY(-240deg);
    @media screen and (max-width: 991px) {
        transform: none!important;
        left: 50%;
    }
}

.itemCard5 {
    transform: rotateY(300deg) translateZ(150px) rotateY(-300deg);
    @media screen and (max-width: 991px) {
        transform: none!important;
        left: 50%;
    }
}

.controls {
    transform: translateY(-50%);
    top: 45%;
    position: absolute;
    width: 100%;
}

.next,
.prev {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: #272727 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000026;
    opacity: 1;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    i {
        position: absolute;
        top: 12px;
        font-size: 8px;
        color: $blue;
    }
    &:hover {
        background: $blue;
        i {
            color: #0C0C0C!important;
            &:before {
                color: #0C0C0C!important;
            }
        }
    }
}

.next {
    @media (min-width: 992px) and (max-width: 1100px) {
        right: -36%;
    }
    @media screen and (max-width: 991px) {
        right: 10px;
    }
    right: -18em;
    i {
        transform: rotate(90deg);
        left: 8px;
    }
}

.prev {
    @media (min-width: 992px) and (max-width: 1100px) {
        left: -36%;
    }
    @media screen and (max-width: 991px) {
        left: 10px;
    }
    left: -18em;
    i {
        transform: rotate(-90deg);
        left: 10px;
    }
}

.next:hover,
.prev:hover {
    &:hover {
        color: $blue;
    }
    &:active {
        box-shadow: 0 1px 0 #999;
    }
}

//melhores ofertas live
#livemelhoresofertas {
    padding-top: 75px;
    padding-bottom: 50px;
    iframe {
        width: 100%;
    }
}

//cupons de dessconto
#cuponsdedesconto {
    @media screen and (max-width: 767px) {
        padding-bottom: 0;
    }
    .btn-primary {
        max-width: 310px;
    }
    .cupons-dflex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 54px;
        padding-top: 15px;
        padding-bottom: 60px;
        @media screen and (max-width: 991px) {
            padding-bottom: 20px;
        }
        a {
            flex: 1 1 30%;
            /*grow | shrink | basis */
            height: 100%;
            padding: 0;
            min-height: 150px;
            max-width: 150px;
            width: 100%;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: center;
            border: 2px solid transparent;
            border-radius: 4px;
            border-radius: 999px;
            background-color: $white;
            overflow: hidden;
            margin: 0 auto;
            position: relative;
            img {
                height: 90px;
                margin: 0 auto;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                object-fit: contain;
            }
            &:hover {
                border: 2px solid $blue;
            }
        }
        @media screen and (max-width: 767px) {
            display: block;
        }
    }
}

//aquecimento bf
#aquecimentoBF {
    padding-bottom: 20px;
    border: 0!important;
    iframe {
        width: 100%;
    }
}

//news bf
.card-news {
    .img-1,
    .img-2,
    .img-3 {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
    .img-1 {
        min-height: 288px;
        max-height: 288px;
    }
    .img-2 {
        min-height: 120px;
        max-height: 120px;
    }
    .img-3 {
        min-height: 128px;
        max-height: 128px;
    }
    small {
        color: $gray;
        font-size: 16px;
        line-height: 18px;
        font-weight: $regular;
    }
}

#faq {
    padding-top: 50px;
    padding-bottom: 140px;
    border: 0!important;
    @media screen and (max-width: 991px) {
        padding-top: 34px;
        padding-bottom: 40px;
    }
    .title {
        font-size: 48px;
        line-height: 62px;
        font-weight: $semibold;
        text-transform: uppercase;
        color: $white;
    }
    p {
        font-size: 18px;
        line-height: 30px;
        font-weight: $regular;
        color: $white;
        text-align: left;
    }
    .accordion {
        margin-top: 15px;
        .card {
            margin: 9px 0;
            background: #0C0C0C!important;
            border: 0!important;
            overflow: visible!important;
            .card-header {
                border-radius: 4px!important;
                padding: 10px 21px;
                border: 1px solid #262626!important;
                background: transparent!important;
                h3 {
                    position: relative;
                    width: 100%;
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: $regular;
                    color: $white;
                    button {
                        font-size: 22px;
                        line-height: 22px;
                        font-weight: $regular;
                        padding: 0;
                        background: transparent!important;
                        color: $white;
                        font-family: $fontPrimary;
                        text-align: left;
                    }
                }
            }
            .card-body {
                font-size: 18px;
                line-height: 28px;
                font-weight: $regular;
                color: #B5B7B9;
                padding: 18px 0;
                font-family: $fontPrimary;
            }
        }
    }
}

.card-header h2 button[aria-expanded="true"] {
    &:after {
        content: "\e900";
        color: #0a9eff;
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: rotate(-180deg);
        position: absolute;
        position: absolute;
        font-size: 16px;
        right: 0;
        top: 5px;
    }
}

.card-header h2 button[aria-expanded="false"] {
    &:after {
        position: absolute;
        font-size: 16px;
        right: 0;
        top: 5px;
        position: absolute;
        content: "\e900";
        color: #0a9eff;
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.lives-plataformas {
    list-style: none;
    margin: 0 0 27px;
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    width: 100%;
    @media screen and (max-width: 1100px) {
        justify-content: center;
    }
    li {
        min-width: 176px;
        a {
            background: #0C0C0C;
            border: 1px solid #262626;
            border-radius: 4px;
            padding: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            i {
                font-size: 48px;
                color: $blue;
            }
            span {
                padding-left: 17px;
                font-size: 22px;
                line-height: 25px;
                font-weight: $regular;
                color: $white;
            }
            &:hover {
                background: $blue1;
                border: 1px solid #262626;
            }
        }
    }
}

#newsletter {
    position: fixed;
    width: 100%;
    background: #151515;
    bottom: -50px;
    z-index: 13;
    padding: 15px 0;
    opacity: 0;
    display: none;
    @media (min-width: 992px) and (max-width: 1300px) {
        display: flex;
        align-items: center;
    }
    @media screen and (max-width: 991px) {
        display: none;
    }
    .news {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 992px) {
            justify-content: center;
        }
        .title-simple {
            width: 40%;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            @media screen and (max-width: 992px) {
                justify-content: center;
            }
            p {
                margin: 0;
                padding: 0;
                label {
                    margin: 0;
                    padding: 0;
                    input {
                        outline: none!important;
                        max-width: 240px;
                        width: 100%;
                        font-size: 18px;
                        line-height: 25px;
                        font-weight: $regular;
                        color: $white;
                        background: #0C0C0C 0% 0% no-repeat padding-box;
                        border: 1px solid #262626;
                        border-radius: 4px;
                        padding: 11px 16px!important;
                        @media screen and (max-width: 992px) {
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
    .close-newsletter {
        position: absolute;
        right: 25px;
        transform: translateY(-50%);
        top: 50%;
        border: 0;
        background: transparent;
        i {
            &:before {
                color: $gray;
            }
        }
        @media screen and (max-width: 1300px) {
            position: relative;
            right: 10px;
            transform: none;
        }
    }
    @media screen and (max-width: 991px) {
        display: none!important;
    }
}

input.wpcf7-submit {
    font-size: 18px;
    line-height: 25px;
    color: $white;
    font-weight: $regular;
    background-color: $blue!important;
    padding: 11px 16px!important;
    box-shadow: 0px 1px 2px #0000001A;
    border-radius: 4px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid $blue!important;
    max-width: 152px!important;
    &:hover {
        background: $blue1!important;
        box-shadow: 0px 1px 2px #0000001A;
        border: 1px solid $blue!important;
    }
}

div.wpcf7 .ajax-loader {
    position: absolute;
}

//placeholder
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $white;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $white;
}

.produtos-dflex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;
    height: 100%;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    @media (min-width: 768px) and (max-width: 991px) {
        padding-top: 20px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 20px;
        display: block;
    }
    a {
        flex: 1 1 30%;
        /*grow | shrink | basis */
        padding: 16px 16px 10px;
        flex-flow: row wrap;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 4px;
        h5 {
            letter-spacing: -0.28px;
            color: #030303;
            font-size: 16px;
            line-height: 18px;
            font-weight: $semibold;
            text-align: left;
            width: 100%;
            margin: 0;
        }
        img {
            max-height: 100px;
            display: block;
            margin: 0 auto;
        }
        .precos {
            width: 100%;
            display: block;
            .precoAnterior {
                span {
                    color: #747474;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 12px;
                    margin: 0;
                    text-decoration: line-through;
                }
            }
            .preco {
                background: #00B700;
                box-shadow: 0px 1px 2px #0000001A;
                border: 1px solid #E2EAF0;
                border-radius: 4px;
                padding: 12px;
                width: 100%;
                text-align: center;
                -moz-transition: all .3s;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                span {
                    font-size: 24px;
                    line-height: 35px;
                    color: $white;
                    font-weight: $semibold;
                    text-align: center;
                    width: 100%;
                    letter-spacing: -0.6px;
                    small {
                        opacity: 0.75;
                        font-size: 15px;
                        line-height: 19px;
                        color: $white;
                        font-weight: $regular;
                    }
                }
            }
        }
        &:hover {
            .precos {
                .preco {
                    background: #0CD100;
                }
            }
        }
    }
}

#hamburger {
    position: relative;
    right: 0;
    top: 16px;
    height: 35px;
    width: 35px;
    display: block;
}

#hamburger span {
    position: relative;
}

#hamburger span,
#hamburger span:before,
#hamburger span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 35px;
    background: $white;
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
}

#hamburger span:before {
    top: -10px;
}

#hamburger span:after {
    bottom: -10px;
}

#hamburger span,
#hamburger span:before,
#hamburger span:after {
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#hamburger.active {
    position: fixed;
    top: .7em;
    right: 1em;
}

#hamburger.active span {
    background-color: transparent;
}

#hamburger.active span:before,
#hamburger.active span:after {
    top: 0;
}

#hamburger.active span:before {
    transform: rotate(45deg);
}

#hamburger.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

.owl-carousel {
    overflow: hidden;
    .owl-item img {
        object-fit: contain;
    }
}

#aquecimento-bf,
#cupons-area {
    @media screen and (max-width: 991px) {
        display: block!important;
        padding: 0;
    }
    .owl-dots {
        display: flex!important;
        margin-top: 24px;
        align-items: center;
        justify-content: center;
        .owl-dot {
            display: inline-block;
            zoom: 1;
            outline: none!important;
            &.active {
                span {
                    opacity: 1;
                }
            }
            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background: $white;
                display: block;
                -webkit-backface-visibility: visible;
                -moz-transition: opacity .2s ease;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
                border-radius: 30px;
                opacity: 0.7;
            }
        }
    }
}

#ofertas-selecionadas,
#top-categories {
    .owl-stage {
        display: flex;
        align-items: stretch;
        height: 100%;
    }
    .owl-dots {
        display: flex!important;
        margin-top: 24px;
        align-items: center;
        justify-content: center;
        .owl-dot {
            display: inline-block;
            zoom: 1;
            &.active {
                span {
                    opacity: 1;
                }
            }
            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background: $white;
                display: block;
                -webkit-backface-visibility: visible;
                -moz-transition: opacity .2s ease;
                -webkit-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease;
                border-radius: 30px;
                opacity: 0.7;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-primary,
    .btn-secondary,
    .btn-mega {
        width: 400px!important;
        text-align: center;
        line-height: 30px!important;
    }
    .btn-secondary {
        line-height: 46px!important;
    }
    #news {
        .btn-primary {
            width: 400px!important;
            text-align: center;
        }
    }
}

@media (min-width: 621px) and (max-width: 767px) {
    .btn-primary,
    .btn-secondary,
    .btn-mega {
        width: 100%!important;
        text-align: center;
    }
    #news {
        .btn-primary {
            width: 100%!important;
            text-align: center;
        }
    }
}

@media screen and (max-width: 620px) {
    #news {
        .btn-primary {
            width: 300px;
        }
    }
    .card-header h2 button[aria-expanded=false]:after {
        top: 10px;
        font-size: 8px;
    }
    #vejatodasasofertas h3 a {
        display: block;
    }
    .section-first img {
        max-width: 240px;
    }
    .title-news1 {
        font-size: 28px;
        line-height: 32px;
    }
    .title-news2 {
        font-size: 18px;
        line-height: 22px;
    }
    .card-news .img-1 {
        min-height: 178px;
        max-height: 178px;
    }
    .card-news .img-2 {
        min-height: 88px;
        max-height: 88px;
        margin-top: 5px;
    }
    .btn-mega,
    .btn-primary {
        font-size: 18px!important;
        line-height: 22px!important;
        margin: 10px auto 10px;
        width: 300px!important;
        text-align: center;
    }
    .btn-secondary {
        margin: 10px auto 10px;
        width: 300px!important;
        text-align: center;
    }
    #livemelhoresofertas {
        padding-top: 40px;
        padding-bottom: 0;
        iframe {
            padding-top: 20px;
        }
    }
}

@media (min-width: 421px) and (max-width: 620px) {
    .hurrytimer-timer-block {
        margin: 0 8px;
        .hurrytimer-timer-digit {
            font-size: 22px!important;
            line-height: 34px!important;
        }
    }
    #livemelhoresofertas {
        iframe {
            max-height: 255px;
        }
    }
}

@media screen and (max-width: 420px) {
    #livemelhoresofertas {
        iframe {
            max-height: 168px;
        }
    }
    .yotube-live {
        padding: 10px!important;
        height: 190px!important;
        width: 265px!important;
        .close-yotube {
            top: 8px!important;
            i {
                font-size: 12px!important;
            }
        }
        h3 {
            font-size: 12px!important;
            line-height: 23px!important;
            margin-bottom: 7px!important;
        }
        .pulse-css {
            position: relative;
            top: -5px;
        }
    }
    header {
        padding: 10px 0;
        margin-bottom: 40px;
    }
    .navbar .navbar-collapse {
        padding: 47px 0 80px!important;
    }
    .navbar-toggler {
        width: 20px!important;
        height: 13px!important;
        font-size: 20px!important;
        top: -5px!important;
    }
    #hamburger {
        top: 16px!important;
        height: 20px!important;
        width: 13px!important;
        span {
            height: 2px;
            width: 20px;
            &:before {
                top: -6px;
                height: 2px;
                width: 20px;
            }
            &:after {
                bottom: -6px;
                height: 2px;
                width: 20px;
            }
        }
    }
    .navbar-brand {
        max-height: 25px;
        img {
            max-height: 25px;
        }
    }
    .section-first img {
        max-height: 110px!important;
    }
    .hurrytimer-timer-block {
        margin: 0 4px!important;
        .hurrytimer-timer-digit {
            font-size: 18px!important;
            line-height: 32px!important;
        }
    }
    .hurrytimer-timer-sep {
        &:before {
            left: 6px !important;
        }
    }
    .section-first .categories-dflex {
        margin-bottom: 0;
    }
    .section-first {
        padding-bottom: 0!important;
    }
    .title-big {
        font-size: 38px!important;
        line-height: 42px!important;
    }
    .title-mediun {
        font-size: 24px!important;
        line-height: 28px!important;
    }
    .lives-plataformas li {
        min-width: 85px;
        a {
            .icon-youtube {
                font-size: 40px;
                line-height: 48px;
            }
            span {
                display: none;
            }
        }
    }
}

@media (min-height: 320px) and (max-height: 800px),
all and (orientation: portrait) {
    .section-first .categories-dflex a img {
        max-height: 80px;
    }
    .section-first {
        padding-top: 2rem !important;
        min-height: 700px;
        img {
            max-height: 250px;
            object-fit: contain;
        }
        .btn-primary {
            margin-top: 3.3rem;
        }
        .arrow {
            bottom: 30px;
        }
    }
}

@media (min-height: 801px) {
    .section-first {
        padding-top: 5rem!important;
        padding-bottom: 5rem !important;
    }
}

#news {
    padding-top: 0;
    padding-bottom: 50px;
    border: 0;
    .btn-primary {
        max-width: 100%;
        width: 100%;
    }
}

.yotube-live {
    h3 {
        letter-spacing: -0.28px;
        font-size: 14px;
        line-height: 25px;
        font-weight: $semibold;
        color: $gray;
        padding-left: 20px;
        margin-bottom: 13px;
    }
    padding: 14px;
    position: fixed;
    height: 256px;
    width: 380px;
    bottom: 0;
    z-index: 999;
    background: #000;
    .close-yotube {
        position: absolute;
        right: 14px;
        top: 14px;
        border: 0;
        background: transparent;
        i {
            &:before {
                color: $gray;
            }
        }
    }
}

@mixin circle($circleSize) {
    width: $circleSize;
    height: $circleSize;
    border-radius: $circleSize/2;
}

.pulse-box {
    position: absolute;
    left: 14px;
    top: 20px;
    float: left;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* pulse in CSS */

.pulse-css {
    @include circle(10px);
    background: #f33;
    position: relative;
    &:before,
    &:after {
        content: "";
        @include circle(10px);
        background-color: #f33;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: scale(0.4);
        transform-origin: center center;
        animation: pulse-me 3s linear infinite;
    }
    &:after {
        animation-delay: 1s;
    }
}

@keyframes pulse-me {
    0% {
        transform: scale(0.7);
        opacity: 0.3;
    }
    50% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.09;
    }
    100% {
        transform: scale(4);
        opacity: 0.3;
    }
}

.percent {
    background-repeat: no-repeat !important;
    position: absolute !important;
    background-size: contain !important;
    &.per1,
    &.per3,
    &.per5,
    &.per7 {
        background: url('../images/porcento.svg');
    }
    &.per2,
    &.per4,
    &.per6,
    &.per8 {
        background: url('../images/porcento.svg');
    }
    &.per1 {
        width: 21vh;
        height: 20vh;
        transform: translate(-50vh, -50vh);
        top: 50vh;
        left: 52vh;
    }
    &.per2 {
        width: 12vh;
        height: 11vh;
        transform: translate(-50vh, -50vh);
        top: 108vh;
        right: -44vh;
    }
    &.per3 {
        width: 12vh;
        height: 11vh;
        transform: translate(-50vh, -50vh);
        top: 102vh;
        left: 53vh;
    }
    &.per4 {
        width: 21vh;
        height: 20vh;
        transform: translate(-50vh, -50vh);
        top: 59vh;
        right: -44vh;
    }
    &.per5 {
        width: 21vh;
        height: 20vh;
        transform: translate(-50vh, -50vh);
        top: 82vh;
        left: 43vh;
    }
    &.per6 {
        width: 18vh;
        height: 17vh;
        transform: translate(-50vh, -50vh);
        top: 57vh;
        right: -49vh;
    }
    &.per7 {
        width: 18vh;
        height: 17vh;
        transform: translate(-50vh, -50vh);
        top: 66vh;
        right: -48vh;
    }
    &.per8 {
        width: 18vh;
        height: 17vh;
        transform: translate(-50vh, -50vh);
        top: 88vh;
        left: 53vh;
    }
}

.logo-name {
    position: absolute;
    text-indent: -5000em;
}

.mega-widget {
    border: 1px solid #262626;
    .fluid-width-video-wrapper {
        margin: 22px 16px;
        width: 92%;
        iframe {
            width: 100%;
            max-width: 370px;
            min-height: 188px;
        }
    }
    iframe {
        width: 100%;
        max-width: 370px;
        min-height: 188px;
    }
}

.hideNews {
    display: none!important;
}

#fix-btn {
    display: none;
    @media screen and (max-width: 991px) {
        display: none!important;
    }
    .container {
        .btn-fix {
            top: 0;
            left: 0;
            max-width: 1140px;
            margin: 0 auto;
            @media (min-width: 992px) and (max-width: 1200px) {
                max-width: 960px;
            }
            div {
                padding: 10px;
                display: block!important;
                background: #0c0c0c;
                position: relative;
                float: right;
                right: 1px;
                a {
                    border-radius: 4px;
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: $semibold;
                    color: $white;
                    background-color: $blue;
                    padding: 12px 16px 12px 60px;
                    display: block;
                    max-width: 193px;
                    i {
                        padding: 0 20px;
                        position: absolute;
                        left: 6px;
                        top: 23px;
                        &:before {
                            content: '';
                            background-repeat: no-repeat;
                            background-position: top center;
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            position: absolute;
                            transform: translateY(-50%);
                            -webkit-animation: poun 1.3s linear infinite;
                            -moz-animation: poun 1.3s linear infinite;
                            -o-animation: poun 1.3s linear infinite;
                            animation: poun 1.3s linear infinite;
                        }
                    }
                    &:hover {
                        background-color: $blue1;
                    }
                }
            }
        }
    }
}

.fix {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    @media screen and (max-width: 991px) {
        display: none!important;
    }
}

#horarioLives {
    .modal-dialog {
        max-width: 999px;
        transform: translateY(-50%);
        top: 50%;
        @media screen and (max-height: 767px) {
            transform: none;
            top: 0;
        }
        .modal-content {
            background: #000000!important;
            border: 1px solid #B5B7B9!important;
            padding: 47px 63px 120px;
            @media screen and (max-height: 767px) {
                padding: 40px 20px 40px;
            }
            .close {
                position: absolute;
                right: 29px;
                top: 21px;
                .icon-close {
                    font-size: 10px;
                }
            }
            .modal-body {
                h2 {
                    font-size: 48px;
                    line-height: 48px;
                    font-weight: $regular;
                    color: $white;
                    text-align: left;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: $regular;
                    color: #B5B7B9;
                    text-align: left;
                }
                .btn-secondary {
                    max-width: 430px!important;
                    min-width: 430px!important;
                    font-size: 18px;
                    text-align: left;
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 767px) {
                        margin: 10px 0 20px;
                        max-width: 300px!important;
                        min-width: 300px!important;
                    }
                    i {
                        font-size: 35px;
                        margin-right: 15px;
                    }
                }
                table {
                    margin-top: 54px;
                    tr {
                        border-bottom: 1px solid #262626;
                        padding: 0 16px;
                        th {
                            color: $white;
                            font-size: 18px;
                            line-height: 40px;
                            font-weight: $regular;
                        }
                        td {
                            border-right: 1px solid #262626;
                            padding: 0 16px;
                            strong {
                                color: #0A9EFF;
                                font-size: 20px;
                                line-height: 37px;
                                font-weight: $semibold;
                            }
                            color: #B5B7B9;
                            font-size: 18px;
                            line-height: 37px;
                            font-weight: $regular;
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                border-right: 0;
                            }
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
                ul {
                    margin-top: 54px;
                    li {
                        border-right: 1px solid #262626;
                        padding: 0 0 10px;
                        strong {
                            color: #0A9EFF;
                            font-size: 20px;
                            line-height: 37px;
                            font-weight: $semibold;
                            display: block;
                        }
                        span {
                            color: #B5B7B9;
                            font-size: 18px;
                            line-height: 37px;
                            font-weight: $regular;
                            display: block;
                            text-align: left;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    #horarioLives .modal-dialog .modal-content {
        padding: 40px 20px 40px;
    }
    #horarioLives .modal-dialog .modal-content .modal-body .btn-secondary {
        max-width: 300px;
        min-width: 300px;
    }
    #horarioLives .modal-dialog {
        transform: none;
        top: 0;
    }
}

.wpcf7-form {
    &.sent {
        label,
        input,
        input.wpcf7-submit {
            display: none !important;
        }
    }
}

.messageok {
    display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: $green!important;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}