$color-tecmundo: #1087FF;
$primaryColor: #7614A4;
$secondaryColor: #013788;
$white: #ffffff;
$gray: #B5B7B9;
$gray1:#F7F7F7;
$gray3: "#707070";
$black: #000000;
$black1: #262626;
$yellow: #FFC217;
$green: #3AD000;
$green1: #00B700;
$green1: #BFE323;
$purple: #7212A0;
$orange: #FE8620;
$blue: #0A9EFF;
$blue1: #0489E0;
$red: #FF3333;
$red1: #A11818;
$fontPrimary: "source-sans-pro",
sans-serif;
$bold:700;
$semibold: 600;
$regular: 400;
.title-yellow {
    color: $yellow;
}

.title-purple {
    color: $purple;
}