@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?nnsnvk');
    src: url('fonts/icomoon.eot?nnsnvk#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?nnsnvk') format('truetype'), url('fonts/icomoon.woff?nnsnvk') format('woff'), url('fonts/icomoon.svg?nnsnvk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icone,
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e913";
    color: #b5b7b9;
}

.youtube-icon:before,
.icon-yt:before {
    content: "\e916";
    color: #b5b7b9;
}

.icon-igtv:before {
    content: "\e918";
    color: #0a9eff;
}

.icon-hub .path1:before {
    content: "\e919";
    color: rgb(3, 80, 145);
}

.icon-hub .path2:before {
    content: "\e91a";
    margin-left: -1.4208984375em;
    color: rgb(3, 80, 145);
}

.icon-hub .path3:before {
    content: "\e91b";
    margin-left: -1.4208984375em;
    color: rgb(3, 80, 145);
}

.icon-hub .path4:before {
    content: "\e91c";
    margin-left: -1.4208984375em;
    color: rgb(3, 80, 145);
}

.icon-hub .path5:before {
    content: "\e91d";
    margin-left: -1.4208984375em;
    color: rgb(255, 255, 255);
}

.instagram-icon:before,
.icon-instagram:before {
    content: "\e91f";
    color: #b5b7b9;
}

.icon-aquecimento:before,
.icon-foguinho:before {
    content: "\e920";
    color: #f33;
}

.facebook-icon:before,
.icon-facebook:before {
    content: "\e921";
    color: #b5b7b9;
}

.twitter-icon:before,
.icon-twitter:before {
    content: "\e922";
    color: #b5b7b9;
}

.icon-arrow:before {
    content: "\e900";
    color: #0a9eff;
}

.icon-star:before {
    content: "\e901";
    color: #0a9eff;
}

.icon-cupons:before,
.icon-tag:before {
    content: "\e902";
    color: #b5b7b9;
}

.icon-youtube:before {
    content: "\e903";
    color: #0a9eff;
}